<div class="content">
  <div class="content-main">
    <div class="content-main__article">
      <div class="content-main__article-title">
      餃子３人前と大瓶１本で楽しめるここは現世か...
      </div>
      <div class="content-main__article-main">
        コロナ自粛で、おとなしくお家で過ごした、先週日曜日(4/19)の夕方は、遅めのランチですが、本当は他のラーメン屋さんに行くつもりでしたが、このご時世特有の臨時休業でして、それならって事で、日本一の売る上げを誇る王将さんへ、車を走らせました。

        駐車場も、１００台以上停めれるみたいで、駐車には全く困りません。むしろ公共機関を使った方が、アクセス悪いかな(・・?
        入店しますと、アルコール消毒で、しっかりと手を洗い、カウンター席に、どっこらしょっと座ります。

        餃子はマストで注文するとして、ビールは？少し迷いましたが、迷わず大瓶を注文です。

        待ちは無かったけど、それでも結構な客入りで賑わってましたので、少し待つかなっと思いましたが、スムーズに配膳いただきました。先に大瓶、直ぐ後に、餃子が到着です♪

        まず餃子は、良く焼きとか指定しませんでしたが、焼きは、ちょいと甘いかな？
        でも、ふっくらした焼き上がりで、充分に満たされる美味しさでしたよ！

        接客に関しては、てか、内容は申しませんが、衛生的にこれは、コロナな時にどうよ？って思うことが有りましたが、クレームは、直接お店に伝える主義ですから、レビューには書きませんよ(笑)

        ここら辺は従業員の皆様も、生活を掛けて働いてるのであって、レビュアーの皆さんも、人間性を疑うようなレビューは、すべきじゃないとは思いますよ！(最悪と思う人は、ぶっちゃけフォローを外します。さようならですｗｗ)

        ごちそうさまでした。
      </div>
      <div class="content-main__info">
      </div>
    </div>
  </div>
  <div class="content-side">
    <div class="restaurant-name">
      餃子の王将
    </div>
    <div class="phone-number">
    </div>
      01234567890
    <div class="average-budget">
    </div>
      ¥2,000
    <div class="start">
    </div>
      10:00
    <div class="stop">
    </div>
      21:00
    <div class="holiday">
      月曜日
    </div>
  </div>
</div>