<div class="gallary">
  <div class=gallary__images>
    <img class="gallary__images--1" src="/assets/1.jpg" alt="">
    <img class="gallary__images--1" src="/assets/1.jpg" alt="">
    <img class="gallary__images--1" src="/assets/1.jpg" alt="">
  </div>
</div>