@mixin hamburger{
  position: absolute;
  left: 0;
  height: 4px;
  width: 24px;
  background-color: #444;
  border-radius: 2px;
  display: inline-block;
  box-sizing: border-box
}

@mixin header-middle__box{
  background-color:#272727;
  color: #fff;
  height: 80px;
  width: 175px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  padding-top: 50px;
  cursor: pointer;
  font-weight: bold;
}