<div class="header">
  <div class="header-menu">
    <div class="menu-icon">
      <div class="menu-icon-a"></div>
      <div class="menu-icon-b"></div>
      <div class="menu-icon-c"></div>
    </div>
  </div>

  <h1>gyo-za</h1>

  <div class="header-search">
    <i class="fa fa-search"></i>
  </div>

</div>

