.contents{
  width: 885px;
  max-width: 100%;
  margin: 50px 0 0 100px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  h2{
    font-size: 25px;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    font-weight: 700;
    border-bottom: 1px solid #e5e5e5;
  }
  .list{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    ul{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      li{
        width: 31%;
        margin: 0 2% 16px 0;
        .article{
          height: 100%px;
          &__img{
            height: 200px;
            width: 100%;
            overflow: hidden;
            &--1{
              width: auto;
              max-width: none;
              max-height: 100%;
            }
          }
          &__detail{
            padding: 15px;

          }
        }
      }
    }
  }
}