* {
  box-sizing: border-box;
}
// ヘッダー

.header{
  height: 300px;
  width: 100%;
  &-upper{
    height: 70px;
    &__menu{
      position: relative;
      height: 48px;
      width: 100px;
      display: inline-block;
      box-sizing: border-box;
      text-align: center;
      .menu-icon{
        position: absolute;
        height: 24px;
        width: 24px;
        top: 12px;
        left: 12px;
        border-radius: 2px;
        box-sizing: border-box;
        &-a{
          position: absolute;
          left: 0;
          height: 4px;
          width: 24px;
          background-color: #444;
          border-radius: 2px;
          display: inline-block;
          box-sizing: border-box;
        }
        &-b{
          position: absolute;
          left: 0;
          height: 4px;
          width: 24px;
          background-color: #444;
          border-radius: 2px;
          display: inline-block;
          box-sizing: border-box;
          top: 10px;
        }
        &-c{
          position: absolute;
          left: 0;
          height: 4px;
          width: 24px;
          background-color: #444;
          border-radius: 2px;
          display: inline-block;
          box-sizing: border-box;
          bottom: 0;
        }
      }
    }
    &__logo{
      position: relative;
      height: 70px;
      width: 240px;
      display: inline-block;
      box-sizing: border-box;
      .menu-icon{
        font-family: arial-black;
        font-size: 50px;
        position: absolute;
        display: inline-block;
        box-sizing: border-box;
        top: 10px;
        left: 10px;
      }
    }
    &__sub-title{
      position: relative;
      height: 70px;
      width: 480px;
      display: inline-block;
      box-sizing: border-box;
      text-align: center;
      .sub-title{
        position: absolute;
        display: inline-block;
        box-sizing: border-box;
        top: 20px;
        left: 20px;
      }
    }
    &__search{
      position: absolute;
      height: 48px;
      width: 48px;
      display: inline-block;
      box-sizing: border-box;
      text-align: center;
      top: 20px;
      right: 30px;
      .fa{
        position: absolute;
        font-size: 25px;
        top:12px;
        right: 12px;
      }
    }
  }
}

// ヘッダーミドル
.header-middle{
  position: absolute;
  height: 80px;
  width: 720px;
  margin: 0 auto;
  display: inline-block;
  left: 0;
  right: 0;
  z-index: 1;

  &__prefecture{
    background-color:#272727;
    color: #fff;
    height: 80px;
    width: 175px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    padding-top: 50px;
    cursor: pointer;
    font-weight: bold;
  }
  &__category{
    background-color:#272727;
    color: #fff;
    height: 80px;
    width: 175px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    padding-top: 50px;
    cursor: pointer;
    font-weight: bold;
  }
  &__column{
    background-color:#272727;
    color: #fff;
    height: 80px;
    width: 175px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    padding-top: 50px;
    cursor: pointer;
    font-weight: bold;
  }
  &__ad{
    background-color:#272727;
    color: #fff;
    height: 80px;
    width: 175px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    padding-top: 50px;
    cursor: pointer;
    font-weight: bold;
  }
}

.header-bottom{
  box-sizing: border-box;
  position: absolute;
  height: 220px;
  width: 100%;
  max-width: 100%;
  top: 100px;
  z-index: 0;
  left: 0;
  right: 0;
  .top-pic{
    height: 450px;
    width: 100%;
  }
}