* {
  box-sizing: border-box;
}
// ヘッダー

.header{
  height: 550px;
  width: 100%;
  &-upper{
    height: 70px;
    &__logo{
      position: relative;
      height: 70px;
      width: 240px;
      display: inline-block;
      box-sizing: border-box;
      .menu-icon{
        font-family: arial-black;
        font-size: 50px;
        position: absolute;
        display: inline-block;
        box-sizing: border-box;
        top: 10px;
        left: 10px;
      }
    }
    &__sub-title{
      height: 70px;
      position: relative;
      width: 480px;
      display: inline-block;
      box-sizing: border-box;
      text-align: center;
      .sub-title{
        position: absolute;
        display: inline-block;
        box-sizing: border-box;
        top: 20px;
        left: 20px;
      }
    }
  }
}

// ヘッダーミドル
.header-middle{
  position: absolute;
  height: 80px;
  width: 720px;
  margin: 0 auto;
  display: inline-block;
  left: 0;
  right: 0;
  z-index: 1;

  &__prefecture{
    @include header-middle__box
  }
  &__category{
    @include header-middle__box
  }
  &__column{
    @include header-middle__box
  }
  &__ad{
    @include header-middle__box
  }
}
// ヘッダーボトム
.header-bottom{
  box-sizing: border-box;
  position: absolute;
  height: 220px;
  width: 100%;
  max-width: 100%;
  top: 100px;
  z-index: 0;
  left: 0;
  right: 0;
  .top-pic{
    height: 450px;
    width: 100%;
  }
}