.footer{
  width: 1060px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &-upper{
    height: 100px;
    width: 70%;
    margin-bottom: 50px;
    p{
      margin-bottom: 20px;
    }
    ul{
      font-size: 5px;
      display: flex;
      li{
        height: 20px;
        width: 80px;
      }
    }
  }

  .side-bar{
    font-size: 25px;
    height: 100px;
    width: 30%;
    display: flex;
    list-style: none;
    margin-bottom: 50px;
    padding: 20px;
    ul{
      display: flex;
      width: 100%;
      li{
        width: 30px;
        margin-right: 30px;
      }
    }
  }
  &-lower{
    font-size: 5px;
    ul{
    display: flex;
      li{
        margin-right: 30px;
      }
    }
  }
  small{
    font-size: 5px;
  }
}