<div class="footer">
 <nav class="footer-upper">
    <div class="footer-upper__keyword"></div>
    <div class="footer-upper__category"></div>
    <div class="footer-upper__question"></div>
    <div class="footer-upper__all-right-reserved"></div>
  </nav>

  <div class="side-bar">
    <div class="side-bar__facebook"></div>
    <div class="side-bar__twitter"></div>
    <div class="side-bar__instagram"></div>
  </div>

  <nav class="footer-lower">
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </nav>
  <small></small>
</div>