<div class="footer">
 <nav class="footer-upper">
    <div class="footer-upper__keyword"></div>
    <div class="footer-upper__category"></div>
    <div class="footer-upper__question"></div>
  </nav>

  <div class="side-bar">
    <ul>
      <li><i class="fab fa-facebook-f"></i></li>
      <li><i class="fab fa-twitter"></i></li>
      <li><i class="fab fa-instagram"></i></li>
    </ul>
  </div>

  <nav class="footer-lower">
    <ul>
      <li>gyo-zaとは</li>
      <li>お問い合わせ</li>
      <li>よくある質問</li>
      <li>利用規約</li>
      <li>プライバシーポリシー</li>
    </ul>
  </nav>
  
  <small>©2020 gyo-za, ALL RIGHTS RESERVED</small>
</div>