<div class="footer">
 <nav class="footer-upper">
    <p>CONTENTS</p>
    <ul>
      <li>キーワード</li>
      <li>カテゴリー</li>
      <li>質問</li>
    </ul>
    
    <p>USER</p>
    <ul>
      <li>会員登録</li>
      <li>設定</li>
      <li>お知らせ</li>
    </ul>
  </nav>

  <div class="side-bar">
    <ul>
      <li><i class="fab fa-facebook-f"></i></li>
      <li><i class="fab fa-twitter"></i></li>
      <li><i class="fab fa-instagram"></i></li>
    </ul>
  </div>

  <nav class="footer-lower">
    <ul>
      <li>gyo-zaとは</li>
      <li>お問い合わせ</li>
      <li>よくある質問</li>
      <li>利用規約</li>
      <li>プライバシーポリシー</li>
    </ul>
  </nav>
  
  <small>©2020 gyo-za, ALL RIGHTS RESERVED</small>
</div>