<div class="header">
  
  <div class="header-upper">
    <div class="header-upper__menu">
      <div class="menu-icon">
        <div class="menu-icon-a"></div>
        <div class="menu-icon-b"></div>
        <div class="menu-icon-c"></div>
      </div>
    </div>
    <div class="header-upper__logo">
      <p class="menu-icon">gyo-za</p>
    </div>
    <div class="header-upper__sub-title">
      <p class="sub-title">今夜の餃子とクラフトビールがうまい店が見つかる "gyo-za"</p>
    </div>
  </div>

  <div class="header-middle">
    <div class="header-middle__prefecture">
      現在地周辺のお店
    </div>
    <div class="header-middle__category">
      カテゴリー別
    </div>
    <div class="header-middle__column">
      コラム
    </div>
    <div class="header-middle__ad">
      広告
    </div>
  </div>

  <div class="header-bottom">
    <img class="top-pic" src="/assets/1.jpg" alt="">
  </div>
</div>