<div class="contents">
  <h2>新着掲載店</h2>
  <div class="list">
    <ul>

      <li>
        <div class="article">
          <div class="article__img">
            <img class="article__img--1" src="/assets/1.jpg" alt="">
          </div>
          <div class="article__detail">
            <div class="article__detail-title">
              2時間待ちは当たり前!!深夜の3時間しか開かない幻の餃子店、今後の動向に注目！！
            </div>
            <div class="article__detail-info">
              <p>
                <span>赤萬</span>
                <span>神戸市中央区</span>
              </p>
              <p>
              ★ 0
              </p>
              <p>
              平均予算〜$200
              </p>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="article">
          <div class="article__img">
            <img class="article__img--1" src="/assets/1.jpg" alt="">
          </div>
          <div class="article__detail">
            <div class="article__detail-title">
              2時間待ちは当たり前!!深夜の3時間しか開かない幻の餃子店、今後の動向に注目！！
            </div>
            <div class="article__detail-info">
              <p>
                <span>赤萬</span>
                <span>神戸市中央区</span>
              </p>
              <p>
              ★ 0
              </p>
              <p>
              平均予算〜$200
              </p>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="article">
          <div class="article__img">
            <img class="article__img--1" src="/assets/1.jpg" alt="">
          </div>
          <div class="article__detail">
            <div class="article__detail-title">
              2時間待ちは当たり前!!深夜の3時間しか開かない幻の餃子店、今後の動向に注目！！
            </div>
            <div class="article__detail-info">
              <p>
                <span>赤萬</span>
                <span>神戸市中央区</span>
              </p>
              <p>
              ★ 0
              </p>
              <p>
              平均予算〜$200
              </p>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="article">
          <div class="article__img">
            <img class="article__img--1" src="/assets/1.jpg" alt="">
          </div>
          <div class="article__detail">
            <div class="article__detail-title">
              2時間待ちは当たり前!!深夜の3時間しか開かない幻の餃子店、今後の動向に注目！！
            </div>
            <div class="article__detail-info">
              <p>
                <span>赤萬</span>
                <span>神戸市中央区</span>
              </p>
              <p>
              ★ 0
              </p>
              <p>
              平均予算〜$200
              </p>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="article">
          <div class="article__img">
            <img class="article__img--1" src="/assets/1.jpg" alt="">
          </div>
          <div class="article__detail">
            <div class="article__detail-title">
              2時間待ちは当たり前!!深夜の3時間しか開かない幻の餃子店、今後の動向に注目！！
            </div>
            <div class="article__detail-info">
              <p>
                <span>赤萬</span>
                <span>神戸市中央区</span>
              </p>
              <p>
              ★ 0
              </p>
              <p>
              平均予算〜$200
              </p>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="article">
          <div class="article__img">
            <img class="article__img--1" src="/assets/1.jpg" alt="">
          </div>
          <div class="article__detail">
            <div class="article__detail-title">
              2時間待ちは当たり前!!深夜の3時間しか開かない幻の餃子店、今後の動向に注目！！
            </div>
            <div class="article__detail-info">
              <p>
                <span>赤萬</span>
                <span>神戸市中央区</span>
              </p>
              <p>
              ★ 0
              </p>
              <p>
              平均予算〜$200
              </p>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="article">
          <div class="article__img">
            <img class="article__img--1" src="/assets/1.jpg" alt="">
          </div>
          <div class="article__detail">
            <div class="article__detail-title">
              2時間待ちは当たり前!!深夜の3時間しか開かない幻の餃子店、今後の動向に注目！！
            </div>
            <div class="article__detail-info">
              <p>
                <span>赤萬</span>
                <span>神戸市中央区</span>
              </p>
              <p>
              ★ 0
              </p>
              <p>
              平均予算〜$200
              </p>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="article">
          <div class="article__img">
            <img class="article__img--1" src="/assets/1.jpg" alt="">
          </div>
          <div class="article__detail">
            <div class="article__detail-title">
              2時間待ちは当たり前!!深夜の3時間しか開かない幻の餃子店、今後の動向に注目！！
            </div>
            <div class="article__detail-info">
              <p>
                <span>赤萬</span>
                <span>神戸市中央区</span>
              </p>
              <p>
              ★ 0
              </p>
              <p>
              平均予算〜$200
              </p>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="article">
          <div class="article__img">
            <img class="article__img--1" src="/assets/1.jpg" alt="">
          </div>
          <div class="article__detail">
            <div class="article__detail-title">
              2時間待ちは当たり前!!深夜の3時間しか開かない幻の餃子店、今後の動向に注目！！
            </div>
            <div class="article__detail-info">
              <p>
                <span>赤萬</span>
                <span>神戸市中央区</span>
              </p>
              <p>
              ★ 0
              </p>
              <p>
              平均予算〜$200
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>