<div class="contents">
  <h2>新着掲載店</h2>
  <div class="list">
    <ul>
      <li>
        <div class="article">
          <div class="article__img">
            <img class="article__img--1" src="/assets/1.jpg" alt="">
          </div>
          <div class="article__detail">
            <div class="article__detail-title">
              2時間待ちは当たり前の深夜3時間しか開かない幻の餃子店、今後の動向に注目！！
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="article">
          <div class="article__img">
            <img class="article__img--1" src="/assets/1.jpg" alt="">
          </div>
          <div class="article__detail">
            <div class="article__detail-title">
              2時間待ちは当たり前の深夜3時間しか開かない幻の餃子店、今後の動向に注目！！
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="article">
          <div class="article__img">
            <img class="article__img--1" src="/assets/1.jpg" alt="">
          </div>
          <div class="article__detail">
            <div class="article__detail-title">
              2時間待ちは当たり前の深夜3時間しか開かない幻の餃子店、今後の動向に注目！！
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="article">
          <div class="article__img">
            <img class="article__img--1" src="/assets/1.jpg" alt="">
          </div>
          <div class="article__detail">
            <div class="article__detail-title">
              2時間待ちは当たり前の深夜3時間しか開かない幻の餃子店、今後の動向に注目！！
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="article">
          <div class="article__img">
            <img class="article__img--1" src="/assets/1.jpg" alt="">
          </div>
          <div class="article__detail">
            <div class="article__detail-title">
              2時間待ちは当たり前の深夜3時間しか開かない幻の餃子店、今後の動向に注目！！
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="article">
          <div class="article__img">
            <img class="article__img--1" src="/assets/1.jpg" alt="">
          </div>
          <div class="article__detail">
            <div class="article__detail-title">
              2時間待ちは当たり前の深夜3時間しか開かない幻の餃子店、今後の動向に注目！！
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="article">
          <div class="article__img">
            <img class="article__img--1" src="/assets/1.jpg" alt="">
          </div>
          <div class="article__detail">
            <div class="article__detail-title">
              2時間待ちは当たり前の深夜3時間しか開かない幻の餃子店、今後の動向に注目！！
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="article">
          <div class="article__img">
            <img class="article__img--1" src="/assets/1.jpg" alt="">
          </div>
          <div class="article__detail">
            <div class="article__detail-title">
              2時間待ちは当たり前の深夜3時間しか開かない幻の餃子店、今後の動向に注目！！
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="article">
          <div class="article__img">
            <img class="article__img--1" src="/assets/1.jpg" alt="">
          </div>
          <div class="article__detail">
            <div class="article__detail-title">
              2時間待ちは当たり前の深夜3時間しか開かない幻の餃子店、今後の動向に注目！！
            </div>
          </div>
        </div>
      </li>

    </ul>
  </div>
</div>