<div class="warpper">
  <%= render "layouts/restaurants/header"%>
  <%= render "layouts/restaurants/main"%>
  <%= render "layouts/restaurants/side_bar"%>
  <%= render "layouts/commons/footer"%>
</div>
