.content{
  width: 1060px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  &-main{
    width: 670px;
    margin-right: 50px;
    &__article{
      margin-bottom: 7%;
      clear: both;
      position: relative;
      &-title{
        font-size: 20px;
        color: #E73F4A;
        font-weight: bold;
        margin-bottom: 20px;
      }
      &-main{
        line-height: 2em;

      }
    }
    &__info{

    }
  }
  &-side{
    height: auto;
    width: 306px;
    .restaurant-name{
      font-size: 20px;
      color: #E73F4A;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .phone-number{
      margin-bottom: 10px;
      dt{
        font-weight: bold;
        margin-bottom: 5px;
      }
      dd{
        font-size: 25px;
        font-weight: bold;
      }
    }
    .average-budget{
      margin-bottom: 10px;
      dt{
        margin-bottom: 5px;
      }
      dd{
        font-weight: bold;
      }
    }
    .start{
      margin-bottom: 10px;
      dt{
        margin-bottom: 5px;
      }
      dd{
        font-weight: bold;
      }
    }
    .holiday{
      margin-bottom: 10px;
      dt{
        margin-bottom: 5px;
      }
      dd{
        font-weight: bold;
      }
    }
  }
}