.content{
  width: 1060px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  &-main{
    width: 670px;
    margin-right: 50px;
    &__article{
      margin-bottom: 7%;
      clear: both;
      position: relative;
      &-title{
        font-size: 20px;
        color: #E73F4A;
        font-weight: bold;
        margin-bottom: 20px;
      }
      &-main{
        line-height: 2em;

      }
    }
    &__info{

    }
  }
  &-side{
    width: 306px;
  }
}