<div class="header">
  
  <div class="header-upper">
    <div class="header-upper__logo">
      <p class="menu-icon">gyo-za</p>
    </div>
    <div class="header-upper__sub-title">
      <p class="sub-title">今夜の餃子とクラフトビールがうまい店が見つかる "gyo-za"</p>
    </div>
  </div>

  <div class="header-middle">
    <div class="header-middle__prefecture">
      <i class="fas fa-map-marker-alt"></i>
      現在地周辺のお店
    </div>
    <div class="header-middle__category">
      <i class="fa fa-list-alt" aria-hidden="true"></i>
      カテゴリー別
    </div>
    <div class="header-middle__column">
      <i class="fas fa-book"></i>
      コラム
    </div>
    <div class="header-middle__ad">
      <i class="fas fa-ad"></i>
      広告
    </div>
  </div>

  <div class="header-bottom">
    <img class="top-pic" src="/assets/1.jpg" alt="">
  </div>
</div>