<div class="ranking">
  <div>
    <h2>
      <i class="fas fa-crown"></i>
      投稿ランキング
    </h2>
  </div>
  <div>
    <ul>
      <li>
        <div class="article">
          <div class="article__img">
            <img class="article__img--1" src="/assets/1.jpg" alt="">
          </div>
          <div class="article__detail">
            <div class="article__detail-info">
              <p>
                <span>赤萬</span>
                <span>神戸市中央区</span>
              </p>
              <p>
              ★★★★★
              </p>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="article">
          <div class="article__img">
            <img class="article__img--1" src="/assets/1.jpg" alt="">
          </div>
          <div class="article__detail">
            <div class="article__detail-info">
              <p>
                <span>赤萬</span>
                <span>神戸市中央区</span>
              </p>
              <p>
              ★★★★★
              </p>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="article">
          <div class="article__img">
            <img class="article__img--1" src="/assets/1.jpg" alt="">
          </div>
          <div class="article__detail">
            <div class="article__detail-info">
              <p>
                <span>赤萬</span>
                <span>神戸市中央区</span>
              </p>
              <p>
              ★★★★★
              </p>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="article">
          <div class="article__img">
            <img class="article__img--1" src="/assets/1.jpg" alt="">
          </div>
          <div class="article__detail">
            <div class="article__detail-info">
              <p>
                <span>赤萬</span>
                <span>神戸市中央区</span>
              </p>
              <p>
              ★★★★★
              </p>
            </div>
          </div>
        </div>
      </li>

    <ul>
  </div>
</div>